.rightBarContainer {
  width: 28%;
  height: 100%; 

  background-color: #F9E2C5;

  display: flex;
  flex-direction: column;
  align-items: center; 
}

.rightBarIconContainer{
    border: 1px solid black;
    width: 93%;
    height: 85%;

    min-width: 93%;
    min-height: 85%;
}

.upperRightBarIconContainer{
    background-color: #DCDCDC;
    border: 1px solid black;
    
    width: 100%;
    height: 15%;

    min-height: 15%;
    min-width: 100%;
}
