.button{
    background-color: #4F6D3C;
    width: 50px;         
    height: 50px;
    border-radius: 10px; 
    z-index: 9999;   
    border: 1px solid black;
}

.button:hover {
  background-color: #0056b3;
}

img:hover {
  filter: invert(18%) sepia(100%) saturate(2500%) hue-rotate(-20deg) brightness(170%) contrast(85%);
}

