.container{
    width: 15%;
    height: 40%;
    border-radius: 10px; 
    position: fixed;
    top: 20px;
    left: calc(5% + 20px); /* right of sidebar + margin */
    z-index: 9999;   
    border: 1px solid black;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    padding: 10px;
}